@import url(cssLayout.css);
#left-forum-section {
    max-width: 15rem;
    margin-top: 1.6rem;
    margin-left: 2rem;
}

.left-div {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    position: sticky;
    top: 2rem;

}

.left-div h5 {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    display: block;
}

.left-div ul {
    padding-left: .7rem;
    margin-left: .2rem;
}

.left-div ul li {
    font-weight: 500;
    transition: .25s;
    margin-right: 1rem;
    font-size: large;
    margin-top: .7rem;
    margin-bottom: 1rem;
    list-style: none;
    color: rgba(0, 0, 0, 0.836);
    border-radius: 1rem;
    padding: 0.1rem 0rem 0.1rem .9rem;
}

.left-div ul li:hover {
    background-color: rgba(196, 196, 196, 0.507);

}