@import url(cssLayout.css);

html,
body {
    width: 100%;
}

.nav-area {
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border_color);
    padding: .5rem;
    padding-bottom: .2rem;
}

#nav-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    margin-bottom: .75rem;
    margin-top: .8rem;
    margin-left: 1.4rem;
}
@media screen and (max-width:1024px){
    #nav-search {
        margin-top: .7rem;
    }
}

#search-input {
    border-radius: 1rem;
    outline: none;
    padding: 1rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    min-width: max-content;
    height: 2.6rem;
    border: none;
    background-color: rgba(204, 204, 204, 0.39);
    outline: none;
    min-width: 99%;
    font-weight: bold;
    text-indent: .1rem;
    transition: .4s;

}

#search-input:focus {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;

}

#search-icon {
    position: relative;
    right: 2.5rem;
    font-size: large;
    padding: .33rem;
    padding-top: 0.23rem;
    padding-left: .5rem;
    padding-right: .7rem;
    color: black;
}

#nav-links ul {
    margin-top: .33rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: large;
}

#nav-links ul li {
    padding: .2rem 1rem .2rem 1rem;
    margin-right: 1.5rem;
    background-color: var(--light_secondary);
    border-radius: 1rem;
}

#nav-links ul li i {
    margin-right: .5rem;
    background-color: var(--light_secondary);

}

#nav-links a {
    color: black;
    text-decoration: none;
}

.nav-area #search-icon {
    color: black;
    transition: .4s;
}

.nav-area #search-icon:hover {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.658);
}

a {
    text-decoration: none !important;
}

#nav-logo a h3 {
    color: black;
}

/* filters */
.filters {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin: 0 .3rem 0 .3rem;
}

.filters div:nth-child(1) button {
    padding: .35rem .75rem;
    margin-left: .5rem;
    border-radius: .35rem;
    background-color: var(--border_color);
    border: none;
    font-weight: bold;
    font-size: large;
    transition: .5s;
}
.filters div:nth-child(1) button:first-child i{
    color: rgba(172, 49, 27, 0.788);
    transition: ease-out .5s;
    margin-right: .15rem;
}
.filters div:nth-child(1) button:last-child i{
    color: rgba(35, 102, 122, 0.753);
    transition: ease-out .5s;
    font-weight: 900;
    font-size: 1.3rem;
    margin-right: .2rem;
    
}
.filters div:nth-child(1) button:first-child:hover i{
    color: rgb(226, 54, 24);
    transform:scale(1.2);
}
.filters div:nth-child(1) button:last-child:hover i{
    color: rgba(16, 126, 230, 0.938);
    transform:scale(1.2);
}

.filters div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: right;

}
.countryFilterDiv select{
    padding: 0.4rem 2rem;
    border: none;
    border-radius: .6rem;
    font-weight: 600;
    
}
.countryFilterDiv select option{
    color: rgba(0, 0, 0, 0.616);
    font-size: 1rem;
}
#worldIcon{
    transition: ease-in .5s;
}
@media screen and (max-width:480px) {
    .countryFilterDiv select{
        padding: 0.3rem .5rem;
    }
    .filters div:nth-child(1) button{
        padding: 0.3rem;
        margin: 0;
        margin-right: .2rem;
    }
}
@media screen and (max-width:531px) {
    .filters div:nth-child(2) i{
        display: none;
    }
}
.countryFilterDiv select option{

    background-color: var(--dark-primary);
}
.countryFilterDiv i{
    margin-right: .5rem;
    font-size: larger;
}

/* post */

.post-footer i {
    color: gray;
}

.post-area {
    margin: 1rem;
}

.post {
    margin: 1.5rem;
    padding-left: 1rem;
    color: black;
    border-radius: 1.4rem;
    background-color: white;
    margin-bottom: 2rem;
    margin-top: 2rem;
    min-width: 39rem;
    transition: .2s;
}

.post:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.post-head {
    font-weight: bold;
    margin-top: .7rem;
}

.post-info {
    padding-top: 1rem;
}

.post-inner {
    color: rgba(44, 44, 44, 0.952);
}

.post-date {
    margin-left: .4rem;
    color: rgba(59, 59, 59, 0.836);
}

.post-footer {
    padding-bottom: 1rem;
}

.post-sender-img {
    width: 2rem;
    margin-bottom: .3rem;
    border-radius: 50%;
    margin-right: .36rem;
}

.post-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-img {
    background-position: center;
    margin-bottom: .6rem;
    width: 9rem;
}

.post-footer {
    margin-top: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-footer span {
    color: var(--dark-secondary);
    opacity: 0.7;
}

.post a {
    color: #000;
}

.post a:hover {
    color: #000;
}

.post a:active {
    color: #01181f;
}

.tag {
    margin: .15rem;
    border-radius: .6rem;
    background-color: var(--border_color);
    padding: .3rem .55rem .42rem .55rem;
    color: rgba(85, 84, 84, 0.856);

}

#middle-forum-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.icon-heart,
.icon-comment {
    margin-left: .2rem;
    margin-right: .2rem;

}

.icon-heart {
    color: rgba(177, 21, 21, 0.637) !important;
    transition: .4s;
    cursor: pointer;
}

.icon-comment {
    margin-left: 1.1rem;
}

/* ***** 
         LEFT  BAR CSS  START
****** */
#left-forum-section {
    max-width: 15rem;
    margin-top: 1.6rem;
    margin-left: 2rem;
}

.left-div {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    position: sticky !important;
    top: 2rem;

}

.left-div h5 {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    display: block;
}

.left-div ul {
    padding-left: .7rem;
    margin-left: .2rem;
}

.left-div ul li {
    font-weight: 500;
    transition: .25s;
    margin-right: 1rem;
    font-size: large;
    margin-top: .7rem;
    margin-bottom: 1rem;
    list-style: none;
    color: rgba(0, 0, 0, 0.836);
    border-radius: 1rem;
    padding: 0.1rem 0rem 0.1rem .9rem;
}

.left-div ul li:hover {
    background-color: rgba(196, 196, 196, 0.507);

}

/* ***** 
         LEFT  BAR CSS END 
****** */


/* ***** 
         RİGHT  BAR CSS  START
****** */

#right-forum-section {
    margin-top: 1.6rem;
}

#footer {
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
    background-color: white;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;

}

#footer-social-links {
    margin-bottom: 1rem;
    padding: .3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);

}

#footer-social-links ul {
    margin: 0;
    padding: 0;
    padding-bottom: .8rem;

}

#footer-social-links ul li {
    padding-top: .3rem;
    list-style: none;
    margin-left: 1rem;
    text-align: left;
}

#footer ul li a {
    color: gray;
    transition: 1s;
}

#footer ul li a i {
    font-size: x-large;
    margin-right: .5rem;

}

#footer ul li a:hover {
    color: black;
}

#footer ul li a:active {
    color: black;
}

.user-info {
    margin: 1rem 0rem 1rem 0rem;
    border-bottom: 1px solid var(--border_color);
    text-align: center;
    padding: 1rem;
    background-color: white;
    border-radius: 1.5rem;

}

.user-info img {
    border-radius: 50%;
    width: 5rem;
    margin-bottom: .5rem;
}

.user-info h4 {
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.user-info h6 {
    color: var(--dark_light);

}

.user-info p {
    text-align: justify;
}

.btn-follow {
    border-radius: .5rem;
    padding: .4rem 1.5rem .4rem 1.5rem;
    outline: none;
    border: none;
    background-color: var(--dark_light);
    transition: .33s;
    font-weight: bold;
    text-decoration: wavy;
    color: var(--dark_primary);
}

.btn-follow:hover {
    border-radius: 0;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;

}

/* ***** 
         RİGHT  BAR CSS  END
****** */